@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTC: #232e35; /*warna teks untuk judul*/
    --secondaryTC: #656d72; /*warna teks untuk paragraf*/

    --borderC: #f1f1f1;
    --lineC: #d9d9d9;

    --primaryBC: #fff; /*warna background*/
    --secondaryBC: #fbfbfb;
    --thirdBC: #f5f3fe;

    --primariIC: #7e74f1;
    --primaryICH: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
        font-family: 'Times', sans-serif ;
    }

    h1,h2,h3,h4,h5,h6, strong{
        color: var(--primaryTC);
    }

    p {
        font-size: 1rem; /*1 rem = 16 pixel*/
        line-height: 1.9rem;
    }

    p, span, label, input, textarea, li{
        color: var(--secondaryTC);
    }

    a {
        text-decoration: none;
    }

    .main-container {
        width: 1200px;
        margin: 0 auto;
    }

    @media screen and (max-width: 1200px) {
        .main-container {
        width: 90%;
        }
    }


    /* membuat button
    .btn{
        padding: 1rem 1.5rem;
        background: white;
        border: 1.5px solid var(--borderC);
        cursor: pointer;
        transition: .2s ease-in-out;
    }

    .btn:hover {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    } */

    /* titles */
    .section-title {
        margin: 1rem 0 4rem;
        font-size: 2rem;
    }

    .pre-title {
        margin-top : 25;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        color: var(--secondaryTC);
        position: relative;
        padding-left: 40px;
        width: fit-content;
        font-weight: 400;
        font-size: 0.9rem;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;
    }

    /* logo dan navigasi menu */
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    .nav ul {
        list-style: none;
        display: flex;
        gap: 3rem;
    }

    .logo {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 2rem;
    }

    .logo a {
        color: var(--primaryTC);
    }

    nav ul li {
        display: flex;
        align-items: center;
    }

    nav ul li a {
        color: var(--primaryTC);
    }

    /* burger */
    .burger div {
        width: 25px;
        height: 2px;
        background-color: #000;
        margin: 7px;
        transition: all 0.3s;
        z-index: 99;
    }

    .burger {
        display: none;
        z-index: 99;
        position: fixed;
        top: 33px;
        right: 35px;
    }

    /* hero-section */
    #hero {
        height: 720px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

/*     .hero-name {
        font-size: 3rem;
        font-weight: 700;
        margin: 0.5rem 0 1rem;
    } */

     #text-container {
        font-size: 32px;
        text-align: center;
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
        background-color: #f2f2f2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: color 0.05s linear;
        position: relative;
    }

    #text-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    #text-container h1 {
        position: relative;
        z-index: 2;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .hero-right img {
        width: 90%;
    }

    .hero-right {
        display: flex;
        justify-content: center;
    }

    /* keahlian section */
    #keahlian {
        background-color: var(--secondaryBC);
        padding: var(--sectionPadding);
    }

    .keahlian .pre-title {
        margin: 0 auto;
    }

    .keahlian-title {
        text-align: center;
    }

    .ahli {
        padding: 3rem 2rem;
        text-align: center;
        background: var(--primaryBC);
        border-radius: var(--itemBorderRadius);
    }

    .ahli h4 {
        margin: 1.5rem 0;
        font-weight: 500;
        font-size: 1.05rem;
    }

    .ahli-icon {
        background: var(--thirdBC);
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 1.3rem;
        border-radius: 0.5rem;
    }

    .ahli-icon svg {
        fill: var(--primariIC);
    }

    /* pendidikan section */
    #pendidikan {
        padding: var(--sectionPadding);
    }

    .sekolah {
        border-radius: var(--itemBorderRadius);
        overflow: hidden;
        border: 1px solid var(--borderC);
    }

    .sekolah-cover {
        height: 250px;
    }

    .sekolah-cover img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sekolah-info {
        padding: 2rem 1.5rem;
    }

    .sekolah-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .sekolah h4 {
        font-weight: 500;
        font-size: 1.05rem;
    }

    /* Hobi section */
    #hobi {
        padding: var(--sectionPadding);
        background: var(--secondaryBC);
    }

    .hobi-list {
        margin: 1.5rem;
    }

    .hobi-right ul {
        line-height: 2rem;
        padding: 0 1rem;
    }

    #kontak {
        padding: var(--sectionPadding);
    }

    .kontak {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 3rem;
    }

    .kontak-form div {
        margin-bottom: 1.4rem;
    }

    .kontak-form input, .kontak-form textarea {
        width: 100%;
        padding: 0.75rem 1.3rem;
        font-family: "Roboto", sans-serif;
        background: var(--secondaryBC);
        border: 1px solid var(--borderC);
        border-radius: 3px;
        resize: none;
    }

    .kontak-form input::placeholder, .kontak-form textarea::placeholder {
        color: #9d9fa1;
    }

    .kontak-form input:focus,
    .kontak-form textarea:focus {
        outline: none;
        border: 1px solid #7d7d7d;
    }

    .btn-submit {
        width: 100%;
        padding: 0.75rem 1.3rem;
        background-color: var(--primariIC);
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: .2s ease-in-out;
    }

    .btn-submit:hover {
        background: var(--primaryICH);
    }

    .kontak-item {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .kontak-icon {
        background: var(--thirdBC);
        width: 53px;
        height: 53px;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kontak-icon svg {
        fill: var(--primariIC);
    }

    .kontak-detail h4 {
        margin-bottom: 0.6rem;
    }

    /* footer section */
    footer {
        padding: 4rem 0;
        background: var(--secondaryBC);
        text-align: center;
    }

    .footer-icon {
        margin-bottom: 1rem;
    }

    .footer-icon a {
        margin: 0 .5rem;
    }

    .footer-icon svg {
        fill: #3e3f40;
    }

    .footer-icon a:hover svg {
        fill: #000;
    }
